form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

#text-box-input {
  width: 500px;
  height: 300px;
}

#submit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}