html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url("https://64.media.tumblr.com/32f726be40942604101a1c39311b5ce8/9e8363722928c13d-63/s540x810/61aebf2433087c9e3707884420bd614a34b2a10b.gifv");
  background-size: cover;
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#album-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 120px;
}

h2 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

button {
  color: whitesmoke;
  background-color: maroon;
  border-radius: 4px;
  padding: 1px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-review {
  color: whitesmoke;
  background-color: maroon;
  border-radius: 4px;
  padding: 1px;
}

#all-albums {
  color: whitesmoke;
  background-color: maroon;
  border-radius: 4px;
  padding: 1px;
}

textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#add-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}