<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/new.css" />
<%- include('../partials/nav') %>
<main>
  <div>
    <% albums.forEach (album => { %>
    <%= album.name %> 
  <% }) %> 
  </div>
</main>
<%- include("../partials/footer") %>