<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/new.css" />
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" action="/albums" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="name" id="title-input">
    <label for="release-year-input">Release Year:</label>
    <input type="number" name="releaseYear" id="release-year-input">
    <label for="imgURL">Image URL:</label>
    <input type="url" name="imageURL" id="image-input" required>
    <label for="text-box-input">Review:</label>
    <textarea name="review" id="text-box-input" cols="30" rows="10"></textarea>

    <button type="submit" id="submit-button">Upload Review</button>
  </form>
</main>

<%- include("../partials/footer") %>