<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/new.css" />
<%- include('../partials/nav') %>
<main>
  <div>
  <%= album.name %> 
  </div>
</main>
<%- include("../partials/footer") %>